* {
  margin: 0; }

/* MAPS */
/* INICIO Index */
#hero {
  height: 100vh;
  text-align: center;
  padding: 25vh; }
  #hero h2 {
    font-size: 4.5vw;
    font-family: Calibri;
    color: #000000;
    animation: jackInTheBox;
    animation-duration: 2s; }
  #hero h3 {
    font-size: 2vw;
    font-family: Calibri;
    color: #000000;
    animation: jackInTheBox;
    animation-duration: 2s; }

#img {
  margin-left: 10px; }

.piedepagina {
  font-size: 1vw;
  display: block;
  text-align: center; }

/* Inicio nosotros */
#bienvenidos h2 {
  font-size: 4.5vw;
  font-family: "Segoe UI";
  display: flex; }

#bienvenidos p {
  font-size: 2vw;
  font-family: serif;
  display: flex; }

#hacemos h2 {
  font-size: 4.5vw;
  font-family: "Segoe UI";
  display: flex; }

#hacemos p {
  font-size: 2vw;
  font-family: serif;
  display: flex; }

/* Inicio Provincias */
#fondo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.img2 {
  height: 150px;
  width: 100%; }

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.card {
  transition: 0.5s;
  cursor: pointer; }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); }
  .card::before {
    transform-origin: left top; }
  .card::after {
    transform-origin: right bottom; }

.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer; }
  .card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #0004ff; }
    .card-title i:hover {
      transform: scale(1.25) rotate(100deg);
      color: #18d4ca; }

.card-text {
  height: 80px; }

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none; }

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1); }
