* {
  margin: 0; }

/* Variables */
/* INICIO Index */
#hero {
  height: 100vh;
  text-align: center;
  padding: 25vh; }
  #hero h2 {
    font-size: 4.5vw;
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #d3d3d3;
    animation: jackInTheBox;
    animation-duration: 2s; }
  #hero h3 {
    font-size: 2vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #ffffff;
    animation: jackInTheBox;
    animation-duration: 2s; }

#img {
  margin-left: 10px; }

.piedepagina {
  display: block;
  font-size: 1.5vw;
  text-align: center; }

/* FIN Index */
/* Inicio nosotros */
#bienvenidos h2 {
  font-size: 2vw;
  display: flex;
  font-family: "Segoe UI"; }

#bienvenidos p {
  font-size: 1.5vw;
  display: flex;
  font-family: serif; }

#hacemos h2 {
  font-size: 2vw;
  display: flex;
  font-family: "Segoe UI"; }

#hacemos p {
  font-size: 1.5vw;
  display: flex;
  font-family: serif; }

/* FIN Nosotros */
/* Inicio Fotos */
#demo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%; }

#pic {
  width: 60%;
  height: 60%; }

/* Fin Fotos */
