*{
    margin: 0;
}

/* MAPS */

$tamaños:(
	tamañoG: 4.5vw,
	tamañoM: 2vw,
	tamañoP: 1vw,
);

$fuentes:(
	fuente: Calibri,
	fuente-Segoe: "Segoe UI",
	fuente-serif: serif,
);

$color:(
	color-negro: #000000,
	color-gris: #3b3b3b,
);

$display:(
	block: block,
	flex: flex,
);
@mixin hero {
	height: 100vh;
    text-align: center;
    padding: 25vh;
}

@mixin animaciones{
	animation: jackInTheBox; 
	animation-duration: 2s; 
}
/* INICIO Index */
#hero{
	@include hero;

    h2{
		font-size: map-get($tamaños, tamañoG);
		font-family: map-get($fuentes, fuente);
		color: map-get($color, color-negro);
		@include animaciones;
    }
    h3{
		font-size: map-get($tamaños, tamañoM);
		font-family: map-get($fuentes, fuente);
		color: map-get($color, color-negro);
		@include animaciones;
        }
}

#img{
    margin-left: 10px;
}

.piedepagina{
	font-size: map-get($tamaños, tamañoP);
	display: map-get($display, block);
    text-align: center;
}

/* Inicio nosotros */
#bienvenidos{
    h2{
		font-size: map-get($tamaños, tamañoG);
		font-family: map-get($fuentes, fuente-Segoe);
		display: map-get($display,flex);
    }
    p{
		font-size: map-get($tamaños, tamañoM);
		font-family: map-get($fuentes, fuente-serif);
		display: map-get($display, flex);
    }
}

#hacemos{
    h2{
		font-size: map-get($tamaños, tamañoG);
		font-family: map-get($fuentes, fuente-Segoe);
		display: map-get($display, flex);
    }
    p{
		font-size: map-get($tamaños, tamañoM);
		font-family: map-get($fuentes, fuente-serif);
		display: map-get($display, flex);
    }
}

/* Inicio Provincias */
#fondo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.img2 {
	height: 150px;
	width: 100%;
}

div {
	[class^="col-"] {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.card {
	transition: 0.5s;
	cursor: pointer;
	&:hover {
		transform: scale(1.05);
		box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
	}
	&::before {
		transform-origin: left top;
	}
	&::after {
		transform-origin: right bottom;
	}
}

.card-title {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
	i {
		font-size: 15px;
		transition: 1s;
		cursor: pointer;
		color: #0004ff;
		&:hover {
			transform: scale(1.25) rotate(100deg);
			color: #18d4ca;
		}
	}
}

.card-text {
	height: 80px;
}

.card::before, .card::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);
	transition: transform .3s ease-out 0s;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
	transform: scale3d(1, 1, 1);
}
