/* FIN General */


.opaco {
    background-color: rgba(0, 0, 0, 0.5);
}

/* ===============================================================================================================*/

/* INICIO Index */
#hero{
    height: 100vh;
    text-align: center;
    padding: 25vh;
}

#hero h2{
    font-size: 4.5vw;
    display: flex;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: white

}

#hero h3{
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: white
}



/* FIN Index */

/* ===============================================================================================================*/

/* INICIO Imagenes */

#pic{
}

#pic h3{
    font-size: 4.5vw;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: rgb(255, 255, 255)

}

#pic p{
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: rgb(255, 255, 255)
}

/* FIN imagenes */

/* ===============================================================================================================*/

/* INICIO Nosotros */
#row {
    padding-top: 100px;
}
/* FIN Nosotros */

/* ===============================================================================================================*/

/* INICIO Servicios */


/* FIN Servicios */

/* ===============================================================================================================*/

/* INICIO Contacto */

}



