/* FIN General */


.opaco {
    background-color: rgba(0, 0, 0, 0.5);
}

.piedepagina{
    display: block;
    font-size: 1.5vw;
    text-align: center;
}

/* ===============================================================================================================*/

/* INICIO Index */
#hero{
    height: 100vh;
    text-align: center;
    padding: 25vh;
}

#hero h2{
    font-size: 4.5vw;
    display: flex;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: rgb(211, 211, 211);
    animation: jackInTheBox; 
    animation-duration: 2s; 
}

#hero h3{
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: rgb(211, 211, 211);
    animation: jackInTheBox; 
    animation-duration: 2s; 
}

#img{
    margin-left: 10px;
}



/* FIN Index */

/* ===============================================================================================================*/

/* INICIO Imagenes */

#demo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

#pic{
    width: 60%;
    height: 60%;
}

#pic h3{
    font-size: 4.5vw;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: rgb(255, 255, 255)

}

#pic p{
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: rgb(255, 255, 255)
}

/* FIN imagenes */

/* ===============================================================================================================*/

/* INICIO Nosotros */
#row {
    padding-top: 100px;
}

#bienvenidos h2{
    font-size: 3vw;
    animation: fadeInRight; 
    animation-duration: 2s; 
}

#bienvenidos p{
    font-size: 1.5vw;
    animation: fadeInRight; 
    animation-duration: 2s; 
}

#hacemos h2{
    font-size: 3vw;
    animation: fadeInLeft; 
    animation-duration: 2s; 
}

#hacemos p{
    font-size: 1.5vw;
    animation: fadeInLeft; 
    animation-duration: 2s; 
}


/* FIN Nosotros */

/* ===============================================================================================================*/

/* INICIO Servicios */
.row{
    display: flex;
    align-items: center;
}

.row h2{
    font-size: 3vw;
}

.row p{
    font-size: 1.5vw;
}

#img{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img h2{
    font-size: 2vw;
}

#img p{
    font-size: 1vw;
}

/* FIN Servicios */

/* ===============================================================================================================*/

/* INICIO Contacto */


